.header {
  padding: 10px 0;
  background: rgb(49, 49, 49);
}

.header__container {
  max-width: 1440px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 50px;
  height: 50px;
  color: #fff;
}

.header__menu {
  width: 35px;
  height: 35px;
  display: inline-block;
}

.header__nav {
  max-width: 1440px;
  display: none;
}

.header__link {
  display: inline-block;
  color: #fff;
  margin-right: 30px;
  text-decoration: none;
  position: relative;
}

.header__link::after {
  content: "";
  width: 0;
  height: 3px;
  background: orange;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: width 200ms ease-in-out;
}

.header__link:hover::after {
  width: 100%;
}

.header__link:last-of-type {
  margin-right: 0px;
}

.main {
  overflow-x: hidden;
}

.main__landing {
  max-width: 1440px;
  padding: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.landing__title {
  font-size: 40px;
  text-align: center;
}

.landing__grill {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__grill-image {
  width: 250px;
  height: 250px;
}

.landing__text {
  max-width: 600px;
  text-align: center;
  margin: 25px 0 0 0;
  padding: 20px 40px;
  border-radius: 7px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.4);
}

.landing__title,
.landing__description {
  color: #000;
}

.landing__name {
  font-size: 30px;
}

.landing__description {
  font-size: 16px;
}

.landing__button {
  padding: 5px 10px;
  background: none;
  font-size: 22px;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  border: 2px solid rgb(4, 168, 4);
}

.landing__button:hover {
  background: rgb(4, 168, 4);
  color: #fff;
}

.main__slider {
  display: flex;
  height: 400px;
  animation: slider 20s ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.slider__slide {
  min-width: 100%;
  margin: 0;
  background: blue;
  padding: 50px;
  position: relative;
}

.slider__slide--2 {
  background: red;
}

.slider__slide--3 {
  background: green;
}

.slider__slide--4 {
  background: orange;
}

.slider__slide--5 {
  background: yellow;
}

.slider__content {
  max-width: 500px;
  padding: 25px;
  background: #fff;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider__user {
  display: flex;
  align-items: center;
}

.slider__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.slider__fullname {
  font-size: 20px;
  margin-left: 10px;
}

.slider__rating {
  font-size: 40px;
}

.slider__comment {
  font-size: 20px;
  margin: 10px 0;
}

.main__loading {
  max-width: 1440px;
  padding: 25px;
}

.loading__loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid grey;
  border-top: 6px solid blue;
  animation: loader 1s ease-in-out infinite;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slider {
  from {
    transform: translateX(0%);
  }
  11% {
    transform: translateX(0%);
  }
  22% {
    transform: translateX(-100%);
  }
  33% {
    transform: translateX(-100%);
  }
  44% {
    transform: translateX(-200%);
  }
  55% {
    transform: translateX(-200%);
  }
  66% {
    transform: translateX(-300%);
  }
  77% {
    transform: translateX(-300%);
  }
  88% {
    transform: translateX(-400%);
  }
  to {
    transform: translateX(-400%);
  }
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }

  .header__nav {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  .landing__grill {
    flex-direction: row;
  }

  .landing__grill:nth-of-type(2n) {
    flex-direction: row-reverse;
  }

  .landing__grill-image {
    width: 350px;
    height: 350px;
  }

  .landing__text {
    text-align: left;
    margin: 0 40px;
  }

  .landing__description {
    font-size: 20px;
  }
}
